@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0px;
    padding: 0px;

}

html{
    /*Permitir deslizar cuando haga click en los links del menú*/
    scroll-behavior: smooth;
}
/*Menu*/
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 99;

}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
    
}
